*{
margin:0;
padding:0;
box-sizing:border-box;
}

html,body{
width:100%;
height:100%;
overflow:hidden;
font-family:Arial;
background:linear-gradient(180deg,#07020d,#12001d,#090414);
color:white;
text-align:center;
}

/* ⭐ STARS CANVAS */
#stars{
position:fixed;
top:0;
left:0;
width:100vw;
height:100vh;
z-index:-1;
pointer-events:none;
}

/* container */
.container{
min-height:100vh;
padding:20px 10px;
display:flex;
flex-direction:column;
align-items:center;
gap:15px;
position:relative;
z-index:2;
}

/* live */
.live{
padding:8px 15px;
border:2px solid #ff5ca8;
border-radius:25px;
font-size:13px;
box-shadow:0 0 10px #ff5ca8;
}

/* profile */
.profile img{
width:120px;
height:120px;
border-radius:50%;
object-fit:cover;
border:4px solid #a855f7;
box-shadow:0 0 25px #a855f7, 0 0 40px rgba(168,85,247,0.4);
}

/* text */
h1{
font-size:24px;
text-shadow:0 0 15px #8b5cf6;
}

p{
font-size:13px;
opacity:0.8;
}

/* button */
button{
padding:14px;
width:90%;
max-width:300px;
font-size:16px;
font-weight:bold;
border:none;
border-radius:15px;
background:linear-gradient(45deg,#6d28d9,#a855f7);
color:white;
cursor:pointer;
box-shadow:0 0 25px #6d28d9, 0 0 45px rgba(168,85,247,0.4);
}

/* timer */
.timer-box{
width:90%;
max-width:320px;
padding:15px;
border-radius:15px;
background:rgba(255,255,255,.08);
backdrop-filter:blur(8px);
}

#timer{
font-size:38px;
}

/* stats */
.stats{
display:flex;
justify-content:space-between;
gap:8px;
width:90%;
max-width:340px;
}

.stats div{
flex:1;
background:rgba(255,255,255,.08);
padding:10px;
border-radius:12px;
font-size:12px;
}

/* mobile */
@media(max-width:768px){
h1{font-size:22px;}
#timer{font-size:34px;}
}
